:root {
  --e-global-color-primary: #2a2c38;
  --e-global-color-secondary: #ff9021;
}

/* Corrected and Improved CSS */
.custom-section {
  display: flex; /* Enable flexbox layout */
  justify-content: space-between; /* Space between the two sections */
  padding: 20px 20px 100px 20px !important; /* Adjusted padding */
  border-top: 7px solid var(--e-global-color-secondary); /* Orange top border */
  background-color: var(--e-global-color-primary); /* Background color */
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.first-section,
.sec-section {
  flex: 0 0 38%; /* Each section takes up 48% of the width */
  background-color: white; /* White background for the content areas */
  border-bottom: 5px solid var(--e-global-color-secondary); /* Orange bottom border */
  padding: 50px 40px 40px 40px; /* Inner padding */
  border-radius: 30px; /* Rounded corners */
  margin-bottom: 20px; /* Space between containers */
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  height: 300px;
  font-family: sans-serif;
}

.first-section{
  margin-top: 1.5rem !important;
  margin-right: 10px;
}
.first-section span{
  font-weight: bold;
  color: #2a2c38;
}
.first-section p{
  font-size: 17px;
  color: #585855;
}
.first-section h4{
  font-weight: 14px;
}
.first-section.ele{
  color:#22232D;
  font-weight: bold;
}
.sec-section {
  margin-left: 35px; /* Space between the two sections */
}
.sec-section span{
  font-weight: bold;
  color: #2a2c38;
}
.sec-section p{
  font-size: 17px;
  color: #585855;
}
.sec-section h4{
  font-weight: 14px;
}
.sec-section.ele{
  color:#22232D;
  font-weight: bold;

}


@media (max-width: 767.98px) {
  .custom-section {
      flex-direction: column; /* Stack sections vertically on small screens */
      padding: 20px; /* Adjust padding for smaller screens */
  }

  .first-section,
  .sec-section {
      flex: 0 0 100%; /* Full width on smaller screens */
      margin-left: 0; /* Remove left margin */
  }
}
